.menu-box{
  padding: 25px;
  background-color: #fff;
}

.main-menu li a{
    color: black !important;
    font-weight: 600;
    transition: 0.3s ease;
  }
  .main-menu li a:hover{
    color: #ec6e39 !important;
  }
  