.menu-box{
  padding: 38px;
  background-color: #fff;
}

.main-menu li a{
    color: black !important;
    font-weight: 600;
    transition: 0.3s ease;
    position: relative;
  }
  .main-menu li a:hover::after{
    content: '';
    display: block;
    background-color: red;
    width: 25px;
    height: 2px;
  }
  