.sermons-header{
    background-image: url('../../images/sermons.PNG');
    background-repeat: no-repeat;
    background-position: center;
}

.sermons-header h1{
    font-size: 70px;
}
.sermon-box{
    border: 1px solid #9194b2;
}

.sermon-content{
    padding: 20px;
}
.sermon-content span{
    color: #9194b2;
    font-style: italic;
}
.control-menu ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
.control-menu ul li{
    margin-right: 15px;
    display: inline-block;
    align-items: center;
}
.sermon-img-box{
    position: relative;
}
.control-menu{
    position: absolute;
    bottom: 0;
    left: 15%;
    background: #fff;
    border: 1px solid #9194b2;
    border-radius: 30px;
    padding: 15px 10px;
    width: 70%;
    margin: -28px auto;
}

.control-menu ul li a{
    color: #9194b2;
}
